.spotlight {
    height: 100vh;
}

.spotlight--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.spotlight--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 170px;
}

.spotlight--name {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
}

.spotlight--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.spotlight--rate, .spotlight--year, .spotlight--season {
    display: inline-block;
}

.spotlight--rate, .spotlight--year {
    margin-right: 15px;
}

.spotlight--rate {
    color: #46d369;
}

.spotlight--description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}

.spotlight--buttons {
    margin-top: 15px;
}

.spotlight--watchbtn,
.spotlight--mylistbtn{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.33s;
}

.spotlight--watchbtn:hover,
.spotlight--mylistbtn:hover{
    opacity: 0.7;
}

.spotlight--watchbtn {
    background-color: #FFF;
    color: #000
}

.spotlight--mylistbtn {
    background-color: #333;
    color: #FFF
}

.spotlight--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width: 760px) {
    .spotlight{
        height: 90vh;
    }
    .spotlight--name{
        font-size: 40px;
    }
    .spotlight--info{
        font-size: 16px;
    }
    .spotlight--description{
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .spotlight--watchbtn, .spotlight--mylistbtn {
        font-size: 16px;
    }
    .spotlight--genres {
        font-size: 14px;
    }
}